!!!
%html{html_attrs}
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}/
    %title= @page_title || default_page_title
    - @stylesheets.uniq.each do |stylesheet|
      = stylesheet_link_tag stylesheet
    = javascript_include_tag "extensions/tiny_mce/tiny_mce"
    = javascript_include_tag "extensions/tiny_mce/tiny_mce_settings"
    - @javascripts.uniq.each do |javascript|
      = javascript_include_tag javascript
    = javascript_include_tag "application"
    = active_scaffold_includes
    /[if lt IE 7]
      %script{:type=>"text/javascript", :src=>"/admin/javascripts/pngfix.js"}
    - if @content_for_page_scripts
      = javascript_tag @content_for_page_scripts
    - if @content_for_page_css
      %style{:type => "text/css"}= @content_for_page_css
    = stylesheet_link_tag "extensions/conferences"
  %body
    #page
      #header
        #site-title= link_to_unless_current title, admin_url
        #site-subtitle= subtitle
        - if logged_in?
          #navigation= links_for_navigation
      %hr{:class=>"hidden"}/
      #main
        - if flash[:notice]
          #notice
            %p= flash[:notice]
        - if flash[:error]
          #error
            %p= flash[:error]
        #content
          #conference_header
            #conference_navigation{:style=>"float:right; padding:0px; margin-top:-10px;"}
              - if current_page?(:controller => 'admin/con/dashboard', :action => "index")
                %p
                  Switch Conference
                  = select "current_conference", "id", @conferences.collect {|c| [ c.name, c.id ] }, {}, { :onchange => "document.location = '/admin/con/dashboard/index/'+$('current_conference_id').value" }
                  |
                  = link_to "New Conference", :controller => 'admin/con/conferences', :action => 'new', :_method => 'get'
              - else
                %p
                  <-
                  = link_to "Return to Conference Dashboard", :controller => 'admin/con/dashboard', :action => 'index', :id => @current_conference.id
            - if @current_conference
              %h1= @current_conference.name
              %h4
                = @current_conference.start_date.to_date.to_formatted_s(:rfc822)
                \-
                = @current_conference.end_date.to_date.to_formatted_s(:rfc822)
                @
                = @current_conference.venue.name
            - else
              %h1 Conference Management
              %h4 No conferences configured.  Create a new conference.
          = yield
      %hr{:class=>"hidden"}/
      #footer
        %p
          This site was made with Ruby and is powered by
          %a{:href=>"http://radiantcms.org"} Radiant CMS
          version
          = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."
        %p#site-links
          - if logged_in?
            - if admin?
              = nav_link_to 'Users', user_index_url
              %span.separator=" | "
              = nav_link_to 'Extensions', extension_index_url
            - else
              = nav_link_to 'Preferences', user_preferences_url
            %span.separator=" | "
            = nav_link_to 'Log Out', logout_url
            %span.separator=" | "
            = link_to image('view-site.gif', :alt => "View Site", :title => ''), homepage_url
      - if @content_for_popups
        #popups
          = yield :popups
